body {
    margin: 0px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:beige;
}

header {
    text-align: left;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.info {
    color: aliceblue;
}

h2 {
    background-color: rgb(20, 220, 173);
    
}

img {
    border: 10px solid;
    width: min-content;
}

h3 {
    background-color: rgb(20, 220, 173);
}